# General
**/*.log*
**/data
**/coverage
**/lcov.info
**/*tarpaulin*
ui/coverage/
cobertura.xml

# OS
.DS_Store
**/.DS_Store

# Frontend
**/node_modules
**/dist/
**/.env

# Backend
target/
build/
crates/desktop/sidecars/
**/*.db
**/wilkes-worker
**/wilkes-rust-worker

# IDEs
.idea/
.vscode/

# AI
.claude/

# Python
**/__pycache__/
**/*.pyc
**/venv/
